<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzfc.management.jsbsb.modules.ums.mapper.UmsAdminMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hzfc.management.jsbsb.modules.ums.model.UmsAdmin">
        <id column="id" property="ID" />
        <result column="username" property="USERNAME" />
        <result column="password" property="PASSWORD" />
        <result column="icon" property="ICON" />
        <result column="email" property="EMAIL" />
        <result column="nickName" property="NICKNAME" />
        <result column="note" property="NOTE" />
        <result column="createTime" property="CREATETIME" />
        <result column="loginTime" property="LOGINTIME" />
        <result column="status" property="STATUS" />
    </resultMap>

    <select id="getAdminIdList" resultType="java.lang.Long">
        SELECT
            DISTINCT ar.adminid
        FROM
            HZ_CSDN.tjbb_ums_role_resource_rel rr
                LEFT JOIN HZ_CSDN.tjbb_ums_admin_role_relation ar ON rr.roleid = ar.roleid
        WHERE rr.resourceid=#{resourceId}
    </select>

</mapper>
