<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzfc.management.yjzx.modules.ums.mapper.UmsMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hzfc.management.yjzx.modules.ums.model.UmsMenu">
        <id column="id" property="ID"/>
        <result column="parentId" property="PARENTID"/>
        <result column="createTime" property="CREATETIME"/>
        <result column="title" property="TITLE"/>
        <result column="mlevel" property="MLEVEL"/>
        <result column="sort" property="SORT"/>
        <result column="name" property="NAME"/>
        <result column="icon" property="ICON"/>
        <result column="hidden" property="HIDDEN"/>
    </resultMap>

    <select id="getMenuList" resultType="com.hzfc.management.yjzx.modules.ums.model.UmsMenu">
        SELECT
        distinct
            m.id id,
            m.parentid parentId,
            m.createtime createTime,
            m.title title,
            m.mlevel mlevel,
            m.sort sort,
            m.name name,
            m.icon icon,
            m.hidden hidden
        FROM
            hz_test.ums_admin_role_relation arr
                LEFT JOIN hz_test.ums_role r ON arr.roleid = r.id
                LEFT JOIN hz_test.ums_role_menu_relation rmr ON r.id = rmr.roleid
                LEFT JOIN hz_test.ums_menu m ON rmr.menuid = m.id
        WHERE
            arr.adminid = #{adminId}
          AND m.id IS NOT NULL
        /*GROUP BY
            m.id*/
    </select>
    <select id="getMenuListByRoleId" resultType="com.hzfc.management.yjzx.modules.ums.model.UmsMenu">
        SELECT
        distinct
            m.id id,
            m.parent_id parentId,
            m.createTime createTime,
            m.title title,
            m.mlevel mlevel,
            m.sort sort,
            m.name name,
            m.icon icon,
            m.hidden hidden
        FROM
            hz_test.ums_role_menu_relation rmr
                LEFT JOIN hz_test.ums_menu m ON rmr.menuid = m.id
        WHERE
            rmr.roleid = #{roleId}
          AND m.id IS NOT NULL
        /*GROUP BY
            m.id*/
    </select>

</mapper>
