<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzfc.management.wyzj.modules.ums.mapper.UmsRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hzfc.management.wyzj.modules.ums.model.UmsRole">
        <id column="id" property="ID"/>
        <result column="name" property="NAME"/>
        <result column="description" property="DESCRIPTION"/>
        <result column="adminCount" property="ADMINCOUNT"/>
        <result column="createTime" property="CREATETIME"/>
        <result column="status" property="STATUS"/>
        <result column="sort" property="SORT"/>
    </resultMap>

    <select id="getRoleList" resultType="com.hzfc.management.wyzj.modules.ums.model.UmsRole">
        select r.*
        from HZ_SZWY.ums_admin_role_relation ar left join HZ_SZWY.ums_role r on ar.roleid = r.id
        where ar.adminid = #{adminId}
    </select>

</mapper>
